---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BaseHead from "../components/BaseHead.astro";
import LinkButton from "@components/LinkButton.astro";
import Card from "@components/Card.astro";
import SlideCard from "@components/SlideCard.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<BaseLayout>
  <BaseHead slot="head" description={SITE.desc} />
  <div class="container mx-auto max-w-4xl px-4 py-8">
    <section id="hero" class="hero py-8">
      <div class="hero-content flex-col gap-8 lg:flex-row-reverse">
        <div class="avatar">
          <a href="/about/">
            <div class="w-24 rounded-full bg-[#FF7F00] p-2">
              <img
                src="/my-icon-min.svg"
                class="w-full rounded-full"
                alt="hush_in icon"
              />
            </div>
          </a>
        </div>
        <div class="text-center lg:text-left">
          <h1 class="text-base-content text-xl">雑に作る。雑記も書く。</h1>
          <p class="text-base-content/80 prose py-4">
            <LinkButton variant="link" href="/about/"> About me </LinkButton>
          </p>
        </div>
      </div>
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="py-8">
            <h2 class="text-base-content mb-6 text-2xl font-bold">
              人気の記事
            </h2>
            <ul class="space-y-4">
              {featuredPosts.map(({ data, id }) => (
                <Card href={`/posts/${id}/`} frontmatter={data} />
              ))}
            </ul>
          </section>
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="py-8">
          <h2 class="text-base-content mb-6 text-2xl font-bold">最新記事</h2>
          <ul class="space-y-4">
            {recentPosts.map(
              ({ data, id }, index) =>
                index < SITE.postPerIndex && (
                  <Card href={`/posts/${id}/`} frontmatter={data} />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="flex justify-center pb-12">
      <a href="/posts/" class="hover:underline"> すべての記事 </a>
    </div>

    <section id="slide" class="py-8">
      <h2 class="text-base-content mb-6 text-2xl font-bold">登壇資料</h2>
      <ul class="space-y-6">
        <SlideCard
          href="https://hushin.github.io/slides/figma-cloudflare-hono.html"
          title="Figma API + Cloudflare + Hono で画像共有"
          pubDatetime="2024-01-12"
        >
          <a
            href="https://kyotojs.connpass.com/event/302442/"
            class="link link-primary"
            target="_blank"
            rel="noopener noreferrer"
          >
            ToKyoto.js #02
          </a>
          で登壇
        </SlideCard>
      </ul>
    </section>
  </div>
</BaseLayout>
