---
import { SITE } from "../config";

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);

const navItems = [
  { href: "/posts/", label: "Posts" },
  { href: "/tags/", label: "Tags" },
  { href: "/about/", label: "About" },
];

function isActive(href: string): boolean {
  return href === `/${pathname}` || href === "/" + (subpath?.[0] || "");
}
---

<header class="bg-base-100 shadow-sm">
  <div class="mx-auto max-w-4xl">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">
          {SITE.title}
        </a>
      </div>

      <div class="flex-none">
        <!-- Desktop Navigation -->
        <nav class="hidden lg:flex">
          <ul class="menu menu-horizontal space-x-1 px-1">
            {
              navItems.map(({ href, label }) => (
                <li>
                  <a
                    href={href}
                    class={`btn btn-ghost ${isActive(href) ? "btn-active" : ""}`}
                  >
                    {label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>

        <!-- Mobile Navigation -->
        <div class="dropdown dropdown-end lg:hidden">
          <div tabindex="0" role="button" class="btn btn-ghost btn-square">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h7"></path>
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu dropdown-content bg-base-100 rounded-box z-1 mr-3 w-40 p-2 shadow"
          >
            {
              navItems.map(({ href, label }) => (
                <li>
                  <a href={href} class={isActive(href) ? "active" : ""}>
                    {label}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
