---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDatetime, modDatetime } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="m-0 w-full">
    <article>
      <div class="prose text-gray-dark mx-auto w-full max-w-3xl p-4">
        <div class="title mb-4 py-4 text-center leading-none">
          <div class="date text-gray mb-2">
            <FormattedDate date={pubDatetime} />
            {
              modDatetime && (
                <div class="last-updated-on italic">
                  Last updated on <FormattedDate date={modDatetime} />
                </div>
              )
            }
          </div>
          <h1 class="m-0 mb-2">{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
